[submodule "setup/raspberrypi_setup"]
	path = setup/raspberrypi_setup
	url = https://github.com/janelia-experimental-technology/raspberrypi_setup.git
[submodule "setup/docker_setup"]
	path = setup/docker_setup
	url = https://github.com/janelia-experimental-technology/docker_setup.git
