[Unit]
Description=Arena attached
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/local/stop_all_containers.sh
ExecStart=/usr/local/bin/find_arenas_then_run
