[Unit]
Description=ycontroller trigger
Requires=ycontroller.service

[Timer]
Unit=ycontroller.service
OnBootSec=20s

[Install]
WantedBy=timers.target
