[Unit]
Description=Finds arenas then runs container

[Service]
Type=oneshot
ExecStart=/usr/bin/echo ycontroller-service

[Install]
WantedBy=multi-user.target
