[Unit]
Description=ycontroller timer
After=arena-attached.service
Requires=arena-attached.service

[Timer]
OnActiveSec=5s

[Install]
WantedBy=multi-user.target
